.card-deck {
    color:white;
    float: right;
    
}

#currentCity {
    float: right;
    margin-right: 600px;
    margin-bottom: 100px;

}

.Location {
    margin-bottom: 100px;
    margin-right: 100px;
 
}