.forecastheader {
    position: relative; left: 400px; top: -725px; 
    padding-bottom: 10px;
}

.card-deck {
    color: white;
    width: 800px;
    height: 200px;
    position: relative; left: 400px; top: -40px; top: -725px;

}

div#searchDiv {
    position: relative; bottom: -30px; right: 30px;
}

div.cities {
    border: 1px solid lightgray;
    width: 400px;
    height: 600px; 
    position: relative; bottom: -50px; right: -2px;


}

div.row {
    border: 2px solid lightgray;
    width: auto;
    margin: 1px;
    padding: 8px;
}

#currentCity {
    border: 1px solid lightgray;
    padding: 10px;
    width: 750px;

}

.Location {
    border: 2px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 650px;
    position: relative; top: -690px; left: 400px;

}

container {
    width: 0, auto;
}