.forecastheader {
    position: relative; left: 420px; top: -725px; 
    padding-bottom: 10px;
}

.card-deck {
    color:white;
    border: 2px solid black;
    width:750px;
    height: 200px;
    position: relative; left: 420px; top: -40px; top: -725px;

}

div#searchDiv {
    position: relative; bottom: -30px; right: 30px;
}

div.cities {
    border: 1px solid black;
    width: 400px;
    height: 600px;
    position: relative; bottom: -50px; right: -2px;


}

#currentCity {
    border: 1px solid lightgray;
    padding: 10px;
    width: 750px;

}

.Location {
    border: 2px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 650px;
    position: relative; top: -690px;
    margin-left: 400px;
}

container {
    border: 2px solid black;
    width: 0, auto;
}